<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.scud.main.user.dao.UserDao">
    <cache />

    <resultMap id="userResultMap" type="cn.scud.main.user.model.User">
        <id property="id" column="id"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="password" column="password"/>
        <result property="userToken" column="user_token"/>
        <result property="regChannel" column="reg_channel"/>
        <result property="regDate" column="reg_date"/>
        <result property="lastLoginDate" column="last_login_date"/>
        <result property="lastLoginIp" column="last_login_ip"/>
    </resultMap>

    <resultMap id="userInfoMap" type="cn.scud.main.user.model.UserInfo">
        <id property="userInfoId" column="userinfo_id"></id>
        <result property="userToken" column="user_token"/>
        <result property="userRealName" column="user_realname"/>
        <result property="userIdCardNum" column="userid_idcardnum"/>
        <result property="userInfoEmail" column="userinfo_email"/>
        <result property="userInfoSex" column="userinfo_sex"/>
        <result property="userInfoSignature" column="userinfo_signature"/>
        <result property="userInfoJob" column="userinfo_job"/>
        <result property="userInfoIntroduction" column="userinfo_introduction"/>
        <result property="pictures" column="pictures"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="lbsId" column="lbsid"/>

    </resultMap>

    <!--用户注册-->
    <insert id="saveUser" parameterType="User">
        INSERT INTO user (phone_number, password,user_token,reg_channel,reg_date,last_login_date,last_login_ip)
        VALUES (#{phoneNumber}, #{password},#{userToken},#{regChannel},#{regDate},#{lastLoginDate},#{lastLoginIp})
    </insert>

    <!--保存userInfoToken-->
    <insert id="saveUserInfoToken">
        INSERT INTO userinfo (user_token,user_realname) VALUES  (#{userToken},#{scud})
    </insert>

    <!--保存lbsid-->
    <insert id="idsaveUserInfoLbs">
      INSERT INTO userinfo (user_token,user_realname) VALUES  (#{0},#{1})
    </insert>

    <!--通过pwd和phoneNum获取user-->
    <select id="loadUserByUser"  parameterType="User" resultMap="userResultMap" flushCache="true">
        select * from user  WHERE user.password = #{password} and user.phone_number = #{phoneNumber}
    </select>


    <!--根据token查询对象-->
    <!--<select id="loadUserByToken" parameterType="String" resultMap="userResultMap" flushCache="true">-->
         <!--select * from user  WHERE user.user_token = #{token}-->
    <!--</select>-->

    <!--通过phoneNumber获取user数量-->
    <select id="countUserByPhoneNum" parameterType="String" resultType="Integer" flushCache="true">
          SELECT COUNT(*) FROM user where phone_number = #{phoneNumber}
    </select>

    <!--userinfo信息完善-->
    <insert id="setUserInfo" parameterType="UserInfo">
        INSERT into userinfo (user_token,user_realname,userid_idcardnum,userinfo_email,userinfo_sex,userinfo_signature,userinfo_job,pictures,longitude,latitude,userinfo_introduction)
        VALUES (#{userToken},#{userRealName},#{userIdCardNum},#{userInfoEmail},#{userInfoSex},#{userInfoSignature},#{userInfoJob},#{pictures},#{longitude},#{latitude},#{userInfoIntroduction})
    </insert>

    <!--根据userToken获取用户信息-->
    <select id="getUserInfoByToken" resultMap="userInfoMap" parameterType="String">
        SELECT * FROM userinfo WHERE user_token =#{userToken}
    </select>

    <!--修改UserInfo-->
    <update id="updateUserInfo" parameterType="UserInfo">
        UPDATE userinfo SET user_realname=#{userRealName},userid_idcardnum=#{userIdCardNum},userinfo_email=#{userInfoEmail},userinfo_sex=#{userInfoSex},userinfo_signature=#{userInfoSignature},
        userinfo_job=#{userInfoJob},pictures=#{pictures},longitude=#{longitude},latitude=#{latitude},userinfo_introduction=#{userInfoIntroduction} WHERE user_token=#{userToken}
    </update>

    <!--修改经纬度-->
    <update id="updateLatitude" parameterType="map">
        UPDATE userinfo SET longitude=#{longitude},latitude=#{latitude}WHERE user_token=#{userToken}
    </update>

    <!--根据userToken,修改 头像 path-->
    <update id="updateUserImage">
        update userinfo set pictures = #{path}  where user_token = #{userToken};
    </update>
    
    <!--根据附近poi ids 查询 userinfo-->
    <select id="searchNearbyPoi" resultMap="userInfoMap">
        SELECT * from userinfo where lbsid in
        <foreach collection="list" item="userPoiId" index="index"
                 open="(" close=")" separator=",">
            #{userPoiId}
        </foreach>
    </select>

</mapper>