<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.scud.main.skill.dao.SkillDao">
    <cache />

    <resultMap id="skillResultMap" type="cn.scud.main.skill.model.Skill">
        <id property="id" column="id"/>
        <result property="skillSort" column="skill_sort"/>
        <result property="skillToken" column="skill_token"/>
        <result property="userToken" column="user_token"/>
        <result property="skillTitle" column="skill_title"/>
        <result property="skillMoney" column="skill_money"/>
        <result property="skillContent" column="skill_content"/>
        <result property="skillPicture" column="skill_picture"/>
        <result property="skillUnit" column="skill_unit"/>
        <result property="tradeFlag" column="trade_flag"/>
        <result property="skillRemark" column="skill_remark"/>
    </resultMap>

    <!--保存skill-->
    <insert id="saveSkill" parameterType="Skill">
        INSERT INTO skill (skill_sort,skill_token,user_token,skill_title,skill_money,skill_content,skill_picture,trade_flag,skill_remark,skill_unit)
        VALUES (#{skillSort},#{skillToken},#{userToken},#{skillTitle},#{skillMoney},#{skillContent},#{skillPicture},#{tradeFlag},#{skillRemark},#{skillUnit})
    </insert>

    <!--根据userToken 获取用户技能-->
    <select id="listUserSkills" parameterType="String" resultMap="skillResultMap" flushCache="true">
        SELECT * FROM skill where user_token = #{userToken}
    </select>

    <!--技能修改-->
    <update id="updateSkill" parameterType="Skill">
        UPDATE skill SET skill_title=#{skillTitle},skill_money=#{skillMoney},skill_content=#{skillContent},trade_flag=#{tradeFlag},skill_remark=#{skillRemark},skill_unit=#{skillUnit}
        WHERE skill_token=#{skillToken}
    </update>

    <!--根据skillToken 获取用户技能-->
    <select id="loadSkillBysktoken" resultMap="skillResultMap">
        SELECT * FROM skill where skill_token = #{skillToken}
    </select>

    <!--更具userToken 和 skill_sort 查询技能-->
    <select id="getSkillByUskenAndSksort" parameterType="map" resultMap="skillResultMap">
    select * from skill where skill_token in (select skill_token from skill where user_token = #{userToken} and skill_sort = #{skillSort})
    </select>

</mapper>