.main{
    width: 100%;
    height: 100%;
    background-image: url(../image/bg.png);
    background-size: cover;
}
.container2{
    width: 100%;
    min-height: 100%;
    float: left;
    margin-left: 0%;
    background-color: #ffffff;
    margin-top: 0%;
}
.balance_info_row{
    width: 100%;
    float: left;
    height:0.7rem ;
    text-align: center;
}
.balance_info_div{
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.can_use_balance_text{
    color: #000000;
    font-size: 0.15rem;
    display: block;
    float: left;
    margin-top: 0.4rem;
}
.money_mark{
    float: left;
    font-size: 0.22rem;
    color: #000000;
    margin-top: 0.36rem;
    margin-left: 0.08rem;
    display: block;
}
.money{
    display: block;
    font-size: 0.22rem;
    color: #ff9809;
    margin-top: 0.36rem;
    float: left;
    margin-left: 0.03rem;
}
.yuan{
    float: left;
    font-size: 0.22rem;
    color: #000000;
    margin-top: 0.36rem;
    margin-left: 0.08rem;
    display: block;
}
.center_line_div{
    clear:both;
    width: 75%;
    height: 0.1rem;
    border-bottom: solid 1px #ffa41e;
    margin: auto;
}
.line_img{
    width: 80%;
    border-radius: 0.1rem;
}
.please_select_div{
    width: 100%;
    height: 0.35rem;
    float: left;
    text-align: center;
}
.select_text{
    display: block;
    font-size: 0.13rem;
    margin-top: 0.2rem;
}
.btn_row_div{
    width: 100%;
    float: left;
    height: 0.6rem;
    text-align: center;
}
.btn_row{
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.btn_col{
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
}
.money_btn{
    font-size: 0.16rem;
    width: 90%;
    height: 0.38rem;
    border-color: #ff9809;
    border-radius: 0.05rem;
    margin-top: 0.2rem;
    background-color: #ffd9d2;
}
.price_out_div{
    float: left;
    width: 100%;
    height: 0.45rem;
    text-align: center;
}
.price_in_div{
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.price_text{
    float: left;
    margin-left: 0.05rem;
    margin-top: 0.2rem;
}
.money_mark_2{
    float: left;
    margin-left: 0.05rem;
    margin-top: 0.18rem;
    font-size: 0.15rem;
}
.money_2{
    float: left;
    margin-left: 0.05rem;
    margin-top: 0.15rem;
    font-size: 0.18rem;
    color: #ff9809;
}
.yuan_2{
    float: left;
    margin-left: 0.05rem;
    margin-top: 0.2rem;
}
.charge_btn{
    width: 70%;
    float: left;
    margin-left: 15%;
    margin-top: 0.1rem;
    height: 0.45rem;
    border-radius: 0.1rem;
    background-color:#ff9809;
    border: 0;
    font-size: 0.2rem;
}